{
  "extends": "airbnb-base",
  "plugins": [
    "html"
  ],
  "rules": {
    "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
    "space-before-function-paren": ["error", "never"],
    "func-names": ["error", "never"],
    "no-new": 0,
    "new-cap": 0
  }
}
